@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Inter', sans-serif;
}
.all{
    width: 80%;
    margin: 30px auto;
}
.container-1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.container-1 .lists {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container-1 .lists li{
    list-style: none;
    display: inline-flex;
    text-align: center;
}
.container-1 .lists li a{
    text-decoration: none;
    color:#333;
    font-size: 15px;
    font-weight: 400;
    padding: 0 15px;
}
.container-2{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.container-2 .right-side .img img{
    width: 620px;
    height: 250px;
    margin-bottom: 10px;
}
.container-2 .right-side .down{
    display: flex;
    
    justify-content: space-between;
}
.container-2 .right-side .down .down-r{
    font-size: 25px;
    font-weight: 800;
    flex: 0 0 50%;
    width: 50%;
}
.container-2 .right-side .down .down-l{
    font-size: 15px;
    font-weight: 400;
    flex: 0 0 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
}
button{
    width: 100px;
    border: none;
    padding: 10px;
    margin-top: 20px;
    background-color: hsl(5, 85%, 63%);
    color: hsl(36, 100%, 99%);
    font-weight: 400;
    cursor: pointer;
}
.container-2 .left-side{
    padding: 0 20px;
    width: 100%;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color:hsl(240, 100%, 5%) ;
}

.container-2 .left-side .first,
.container-2 .left-side .second{
    box-shadow: 0 1px hsl(36, 3%, 68%);;
}
.container-2 .left-side h2{
    font-size: 34px;
    color: hsl(35, 77%, 62%);
}
.container-2 .left-side h3{
    font-size: 16px;
    font-weight: 700;
    color: hsl(36, 100%, 99%);
    margin-bottom: 10px;
}
p{
    font-size: 15px;
    color: hsl(30, 1%, 58%);
    font-weight: 400;
}
.left-side p{
    padding-bottom: 20px;
}
.container-3{
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.image img{
    height: 150px;
}
.container-3 .card-1,
.container-3 .card-2,
.container-3 .card-3{
    height: 150px;
    display: flex;
    justify-content: space-around;
}
.text{
    flex: 0 0 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.text h2{
    color: hsl(30, 1%, 58%);
}
.text h4{
    font-weight: 800;
}